$navy: #23286b;
$blue: #428cfb;

.nav{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 26px;
}

.logo{
  h1{
    color: $navy;
    font-family: DSsans;
    font-weight: 700;
    font-size: 1.2em;
  }
}

.buttons {
  ul{
    display: flex;
    flex-direction: row;

    li{
      list-style: none;
      padding: 20px;

      a{
        font-family: DSsans;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        color: black;

        &:focus{
          color: $blue;
        }
      }
    }
  }
}